@{
    ViewData["Title"] = "Home Page";
}
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="text-center align-content-center">
    <h1 class="display-4">Welcome to Ciceruesi</h1>
    <h5>Click on Home to see your feed</h5>
</div>
